---
layout: default
---

<div class="hyde content">
  {% if page.image %}
  <img
    class="hyde page-image"
    src="/assets/images/projects/{{ page.image }}"
    alt="{{ page.image | split: '.' | first }}"
  />
  {% endif %}
  <div class="page-content">{{ content }}</div>
  {% if page.link %}
  <div style="text-align: center; margin: 1rem">
    <button class="hyde btn-blue btn" onClick="location.href='{{ page.link }}'">
      {{ page.btn }}
    </button>
  </div>
  {% endif %}
</div>
